/* Default styles (for large screens) */
.simplifyBox {
    display: flex;
    justify-content: center;
    padding: 0;
}

.cardmainSimBox {
    width: 1280px;
    max-width: 90%;
}

.headSimpBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.simpHead,
.simpTxt {
    color: white;
    margin: 30px;
}

.simLowerBox {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.simpImg {
    width: 420px;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.simpIconBox {
    width: 640px;
    padding: 30px;
}

.simpBoxPoints {
    width: 100%;
    padding: 16px 8px 30px 8px;
    border-bottom: 2px solid black;
    color: white;
}

.simpBoxPoints h4 {
    font-size: 20px;
    font-weight: 400;
}

.learnMoreBtn {
    background-color: transparent;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Responsive: for screens <= 768px */
@media (max-width: 768px) {
    .mainSimBox {
        width: 100%;
        padding: 0 20px;
    }

    .headSimpBox {
        display: block;
    }

    .simpHead,
    .simpTxt {
        margin: 20px;
    }

    .simLowerBox {
        flex-direction: column;
        align-items: center;
    }

    .simpImg {
        width: 280px;
        padding: 20px;
    }

    .simpIconBox {
        width: 300px;
        padding: 20px;
    }
    .simpBoxPoints{
        display: flex;
    }

    .simpBoxPoints h4 {
        font-size: 18px;
    }

    .learnMoreBtn {
        width: auto;
        padding: 12px 24px;
        font-size: 14px;
    }
}